loader {
	display: none;
	align-items: center;
	justify-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(212, 212, 211, 0.75);
	z-index: 10;
}
loader.show {
	display: grid;
}
loader .container {
	width: 30px;
	height: 30px;
	position: relative;
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg);
	-webkit-animation: rotation 1s infinite;
	animation: rotation 1s infinite;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
loader .container .shape {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}
loader .container .shape.shape1 {
	left: 0;
	background-color: #5c6bc0;
	-webkit-animation: animationShape1 0.3s ease 0s infinite alternate;
	animation: animationShape1 0.3s ease 0s infinite alternate;
}
loader .container .shape.shape2 {
	right: 0;
	background-color: #8bc34a;
	-webkit-animation: animationShape2 0.3s ease 0.3s infinite alternate;
	animation: animationShape2 0.3s ease 0.3s infinite alternate;
}
loader .container .shape.shape3 {
	bottom: 0;
	background-color: #ffb74d;
	-webkit-animation: animationShape3 0.3s ease 0.3s infinite alternate;
	animation: animationShape3 0.3s ease 0.3s infinite alternate;
}
loader .container .shape.shape4 {
	bottom: 0;
	right: 0;
	background-color: #f44336;
	-webkit-animation: animationShape4 0.3s ease 0s infinite alternate;
	animation: animationShape4 0.3s ease 0s infinite alternate;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes animationShape1 {
	from {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	to {
		-webkit-transform: translate(5px, 5px);
		transform: translate(5px, 5px);
	}
}
@keyframes animationShape1 {
	from {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	to {
		-webkit-transform: translate(5px, 5px);
		transform: translate(5px, 5px);
	}
}
@-webkit-keyframes animationShape2 {
	from {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	to {
		-webkit-transform: translate(-5px, 5px);
		transform: translate(-5px, 5px);
	}
}
@keyframes animationShape2 {
	from {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	to {
		-webkit-transform: translate(-5px, 5px);
		transform: translate(-5px, 5px);
	}
}
@-webkit-keyframes animationShape3 {
	from {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	to {
		-webkit-transform: translate(5px, -5px);
		transform: translate(5px, -5px);
	}
}
@keyframes animationShape3 {
	from {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	to {
		-webkit-transform: translate(5px, -5px);
		transform: translate(5px, -5px);
	}
}
@-webkit-keyframes animationShape4 {
	from {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	to {
		-webkit-transform: translate(-5px, -5px);
		transform: translate(-5px, -5px);
	}
}
@keyframes animationShape4 {
	from {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	to {
		-webkit-transform: translate(-5px, -5px);
		transform: translate(-5px, -5px);
	}
}

/**
 * Increase the spin speed for the button loader.
 * This increases the perceived thinking speed of the API.
 * Default is 2s for one rotation.
 */
 .fa-spin {
  -webkit-animation: fa-spin 0.5s infinite linear;
  animation: fa-spin 0.5s infinite linear;
}
